@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --slate-gray: #4a5e6aff;
    --stone-gray: #8a9597ff;
    --ivory: #f5f6f2ff;
    --sage-green: #5c8970ff;
    --pine-green: #3a5f4dff;
    --muted-teal: #6d8299ff;
    --soft-gold: #d9c2a7ff;

    --background: var(--ivory);
    --foreground: var(--slate-gray);
    /* Changed primary color to blue */
    --primary: #007bff; 
    --secondary: var(--stone-gray);
    --accent: var(--muted-teal);
    --radius: 0.5rem;
    --popover: var(--ivory);
  }

  body {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    line-height: 1.6;
    color: var(--slate-gray);
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.3;
  }

  h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.3;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.3;
  }

  p, small {
    font-size: 1rem;
  }

  small {
    font-size: 0.875rem;
  }

  h1, h2, h3, h4, h5, h6 {
      font-weight: 700;
      color: var(--slate-gray);
      line-height: 1.3;
  }

  a {
    color: var(--sage-green);
    text-decoration: none;
  }

  a:hover {
    color: var(--pine-green);
    text-decoration: underline;
  }
}

.custom-calendar {
  background-color: var(--ivory) !important;
}